@font-face {
  font-family: "SF2";
  src: local("Font Name"), local("FontName"),
    url("../fonts/SegoeScript.eot") format("eot"),
    url("../fonts/SegoeScript.woff") format("woff"),
    url("../fonts/SegoeScript.svg") format("svg"),
    url("../fonts/SegoeScript.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

h1.SFoam {
  font-family: "SF2";
  text-transform: initial;
  color: red;
  font-size: 9em;
  letter-spacing: 1px;
}
.SFoam span {
  color: rgb(0, 149, 57);
}

img.Logo_3F {
  max-width: 27%;
}
.Slider3F {
  /* background-color: #00634c; */
  background: linear-gradient(-45deg, #097e3f, #00634c, #23d59a, #00634c);
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

[data-black-overlay]:before {
  background-color: unset;
}
.theme-gradient {
  background: #ffffff;
  background: linear-gradient(145deg, #ffffff 0%, #deffdc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#deffdc',GradientType=1 );
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

 
/*** WHATSAPP ***/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float svg {
  fill:white
}
.my-float{
	margin-top:16px;
}